<div class="container">
  <div class="row">
    <h3>Menu</h3>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#" (click)="toogleCurrentView()">Novo Discente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="toogleCurrentView()">Listar Discentes</a>
        </li>
      </ul>
    </div>
    <div class="col-md-8 content-side">
      <div [ngSwitch]="currentView">
        <ng-container *ngSwitchCase="0">
          <list-aplic-create-Student></list-aplic-create-Student>
        </ng-container>
        <ng-container *ngSwitchCase="1">
          <list-aplic-list-Student></list-aplic-list-Student>
        </ng-container>
      </div>
    </div>
  </div>
</div>