<div class="row">
    <div class="col-md-6">
        <ng-container *ngFor="let student of students">
            <p class="nav-item">
                <a (click)="getStudent(student)" href="#"
                    class="list-group-item list-group-item-action list-group-item-success">{{student.name}}</a>
                    <i (click)="removeStudent(student)" class="fas fa-trash"></i>
            </p>
        </ng-container>
    </div>
    <div *ngIf="student" class="col-md-6">
        <list-aplic-edit-student [student]="student"></list-aplic-edit-student>
    </div>
</div>